.calendar-container{
    z-index: 11000;
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    border-radius: 13px;
    border: solid #6c757d 1px;
    display: flex;
    align-items: start;

}

.calendar-info{
    margin-top: 8%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 12000;
}

.calendar-info p{
    font-size: 1.5vh;
}

.calendar-info h4{
    padding-top: 20%;
    font-size: 3vh;
}

.calendar-day{
    color: white;
}

.calendar-background{
    width: 8vw;
}
