.calendar-and-wallet{
    margin-top: 1vh;
    position: fixed;
    display: flex;
    align-items: start;
}

.container-fluid{
    padding: 0px;
}

/* Applies to entire app */
.clickable:hover{
    opacity: 50%;
}

.clickable:active{
    opacity: 100%;
}
