.inventory-container{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: #f5f5f5;
    border: solid lightgray 1px;
    opacity: 100%;
    width: 100vw;
    height: 15vh;
    z-index: 10000;
}

.inventory-container.container-fluid{
    padding: 0px;
}

.player-avatar{
    position: absolute;
    bottom: 10px;
    left: 2%;
    width: 12%;
    border-radius: 10px;
    border: solid lightgray 2px;

}

.card-container{
    position: absolute;
    bottom: 10px;
    left: 22%;
    justify-content: start;
}

.card{
    position: fixed;
    margin-right: 10px;
    width: 10%;
}

.card:hover{
    bottom: 15px;
}

.card:active{
    opacity: 50%;
}

.card img{
    width: 100%;
    border-radius: 3px;
}

.dice-container{
    position: absolute;
    bottom: 10px;
    left: 15%;
    width: 5%;
    background: white;
    border: solid lightgray 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice-container img{
    width: 100%;
}



/*Elements by ID*/
#card-1{

}
