.sidenav-container{
    position: fixed;
    top: 8vh;
    Right: 10px;
    z-index: 11000;
    display: flex;
    flex-direction: row;
    align-items: start;

}

.sidenav-player-profile{
    display: flex;
}


.sidenav-container h4{
    font-size: larger;
}

.sidenav-container h5{
    font-size: large;
}

.sidenav-container h6{
    font-size: medium;
}

.sidenav-player-list{
    background: white;
    border-radius: 5px;
    border: solid #6c757d 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sidenav-player-wealth{
    display: flex;
    align-items: center;
    justify-content: start;
}

.sidenav-player-wealth h6{
    margin: 0.5vh;
}

.sidenav-player-wealth img{
    height: 3vh;
}

.sidenav-player-container{
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.sidenav-container.button{
    padding:0px;

}


.sidenav-player-avatar{
    height: 7vh;
    border-radius: 10px;
    border: solid lightgray 1px;

}

