.nav-container{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 0px;
    z-index: 13000;
    border-radius: 5px;
    /*border: solid lightgray 1px;*/
    display: flex;
    flex-direction: row;

}

.nav-container button{
    background: white;
}

.topnav-button{
    margin-left: 10px;
}
