

h1{
    color: white;
}

div{
    justify-content: center;

}

.welcome-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("../images/welcome-bg.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: contain;*/
    background-color: #292a3e;
}

.form-container{
    position: fixed;
    padding: 20px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

.welcome-background{
    height: 100vh;
}

form{
    color: white;
}



#authErrorMessage{
    color: white;
    padding-top: 5px;
}
