


h1{
    color: white;
}

div{
    justify-content: center;

}

.welcome-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/welcome-bg.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-size: 100%;
}

.form-container{
    position: fixed;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

form{
    color: white;
}

#authErrorMessage{
    color: white;
    padding-top: 5px;
}
